<div class="content">
    <div class="row" *ngIf="ocultardatas">
        <div class="col-lg-12" *ngIf="selectRegister=='RegisterList'"  style="padding: 0px 15px;">
            <div class="card" *ngIf="ocultarPedidos">
                <div class="card-header">
                    <strong class="card-title">Lista estados de pedidos</strong>
                </div>
                <div class="table-stats order-table ov-h">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th>IdPedido</th>
                                <th>Empresa/Producto</th>
                                <th>Estado</th>
                                <th>Detalles</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let pedido of registerArray">
                                <td>{{pedido.idOrden}}</td>
                                <td> <span class="name">{{pedido.empresa}}/{{pedido.producto}}</span> </td>
                                <td>
                                    {{pedido.estadoOrden}}
                                </td>
                                <td>
                                    <span class="badge badge-complete" (click)="VerDetalles(pedido._id)">Ver</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div> <!-- /.table-stats -->
            </div>
        </div>
        <div>
        <div *ngIf="ocultarDetalles==true">
            <div>
                <button class="btn btn-badge" (click)="iratras()">Atrás</button>
            </div>  
            <div class="card" >
                <div class="card-header"><strong>Detalles productos.</strong></div>
                <div class="card-body card-block row" *ngFor="let detalle of registerArrayOne">
                    <div class="form-group col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <label for="company" class=" form-control-label"></label>
                        <label for="company" class=" form-control-label">Nombre empresa : <span>{{detalle.empresa}}</span></label>
                    </div>
                    <div class="form-group col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <label for="company" class=" form-control-label">Producto : <span>{{detalle.producto}}</span></label>
                    </div>
                    <div class="form-group col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <label for="company" class=" form-control-label">Tipo compra : <span>{{detalle.tipoEntrega}}</span></label>
                    </div>
                    <div class="form-group col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <label for="company" class=" form-control-label">Hora y fecha : <span>{{detalle.tiempoEntrega}}</span></label>
                    </div>
                    <div class="form-group col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <label for="company" class=" form-control-label">Metodo pago : <span>{{detalle.metodoPago}}</span></label>
                    </div>
                    <div class="form-group col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6" *ngIf="ocultarSerialTarjeta">
                        <label for="company" class=" form-control-label">Tarjeta : <span>{{detalle.numeroPago}}</span></label>
                    </div>
                    <div class="form-group col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <label for="company" class=" form-control-label"></label>
                    </div>
                    <div class="table-stats order-table ov-h">
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th class="serial">#</th>
                                    <th>Precio</th>
                                    <th>cantidad</th>
                                    <th>comision</th>
                                    <th>Subtotal</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="serial">1.</td>
                                    <td>{{detalle.precioProducto}}</td>
                                    <td> <span class="name"></span>{{detalle.cantidadProducto}}</td>
                                    <td>
                                        {{detalle.comision}}
                                    </td>
                                    <td>
                                        {{(detalle.precioProducto*detalle.cantidadProducto)+detalle.comision}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group divTotal col-12">
                        <h6>Subtotal:  <span>{{(detalle.precioProducto*detalle.cantidadProducto)+detalle.comision}}</span></h6>
                        <h6>ISV: <span>{{((detalle.precioProducto*detalle.cantidadProducto)+detalle.comision)*0.15}}</span></h6>
                        <h6>Total: <span>{{
                            ((detalle.precioProducto*detalle.cantidadProducto)+detalle.comision)*1.15
                        }}</span></h6>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="col-lg-12" *ngIf="selectRegister=='RegisterCompras'">
            <div class="card" *ngIf="ocultarCompras">

                <div class="card-header">
                    <strong class="card-title">Lista de compras</strong>
                </div>
                <div class="table-stats order-table ov-h">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th>IdCompra</th>
                                <th>Empresa/Producto</th>
                                <th>Estado</th>
                                <th>Detalles</th>
                            </tr>
                        </thead>
                        <tbody>


                            <tr *ngFor="let pedido of comprasArray">
                                <td>{{pedido.idOrden}}</td>
                                <td> <span class="name">{{pedido.empresa}}/{{pedido.producto}}</span> </td>
                                <td>
                                    {{pedido.estadoOrden}}
                                </td>
                                <td>
                                    <span class="badge badge-complete" (click)="VerDetallesCompras(pedido._id)">Ver</span>
                                </td>
                            </tr>
                            

                        </tbody>
                    </table>
                </div> <!-- /.table-stats -->
            </div>
        </div>
    </div>
</div>