<header id="header" class="header">
    <div class="top-left">
        <div class="navbar-header">
            <a class="navbar-brand" href="VejaDelivery/AppCustomer"><img src="../../../assets/img/logo blanco.png" alt="Logo"></a>
            <a id="menuToggle" class="menutoggle" (click)="ocultarPanelLeft()"><fa-icon [icon]="faBars"></fa-icon></a>
        </div>
    </div>
    <div class="top-right">
        <div class="header-menu">
            <div class="header-left">
                <h6>{{nombreUsuarioHeader}}</h6>
            </div>

            <div class="user-area dropdown float-right">
                <button class="btn dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="ocultarLogout()">
                    <img class="user-avatar rounded-circle" src="../../../assets/{{urlImagenUsuario}}" alt="User Avatar">
                </button>

                <div class="user-menu dropdown-menu" style="display: block; right: -30px; top:57px" *ngIf="ocultarLo">
                    <button class="btn nav-link" (click)="logout()"  href="#"><fa-icon [icon]="faPowerOff"></fa-icon>Cerrar sesión</button>
                </div>
            </div>

        </div>
    </div>
</header>