.titles{
	color: #fb1d5a;
}

.btn-pedido{
    background-color: #fb1d5a;
}

.txt-w{
    color: white;
}

.btn-compra{
    background-color: #fb1d5a;
    border-radius: 20px;
}
.container{
    padding-bottom: 100px !important;
}