<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="titles"><strong>Carrito de Compras</strong></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <h3 class="titles"><strong>Informacion Personal</strong></h3>
                </div>
                <div class="col-12">
                    <form action="">
                        <div>
                            <label for=""> Nombre Completo</label>
                            <input type="text" class="form-control">
                            <br>
                            <label for=""> Numero Telefono</label>
                            <input type="text" class="form-control">
                            <br>
                            <label for=""> Descripcion</label>
                            <input type="text" class="form-control">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <h3 class="titles"><strong>Ubicacion</strong></h3>
                </div>
                <div class="col-12">
                    <form action="">
                        <div>
                            <label for=""> Direccion para la entrega</label>
                            <input type="text" class="form-control">
                            <br>
                            <div>
                                <button type="button" class="btn btn-pedido txt-w">GPS</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <h3 class="titles"><strong>Informacion Pedido</strong></h3>
                </div>
                <div class="col-12">
                    <form action="">
                        <div>
                            <div>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Producto</th>
                                            <th scope="col">Cantidad</th>
                                            <th scope="col">Precio</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">Producto 1</th>
                                            <td>2</td>
                                            <td>320</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Producto 2</th>
                                            <td>2</td>
                                            <td>320</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <br>
                            <div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        ¿Cuenta con otro pedido con nosotros?
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <h3 class="titles"><strong>Tiempo de Envio</strong></h3>
                </div>
                <div class="col-12">
                    <form action="">
                        <div class="row">
                            <div class="col-3"><button type="button" class="btn btn-pedido txt-w">Inmediata</button></div>
                            <div class="col-9"><button type="button" class="btn btn-pedido txt-w">Programada</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <h3 class="titles"><strong>Forma de Pago</strong></h3>
                </div>
                <div class="col-12">
                    <form action="">
                        <label for="">Elija una forma de pago</label>
                        <select name="" id="" class="form-control">
                            <option value="">Efectivo</option>
                            <option value="">Tarjeta de Credito</option>
                        </select>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 pt-4">
            <button type="button" class="btn btn-compra txt-w"><strong>Realizar Compra</strong></button>
        </div>
    </div>
</div>

<div><br><br><br><br><br><br><br></div>