
<div>
    <aside id="left-panel" *ngIf="ocultarPanelLeft" class="left-panel">
        <app-panel-left (onSelectRegister)="estadoComponentVisual($event)"></app-panel-left>
    </aside>
    <div id="right-panel" class="right-panel">
        <!-- boton Motorista -->
        <div class="col-12"*ngIf="ocultarMotorista" >
            <button class="btn btn-White-Edit" (click)="habilitarDivMotorista()">Motorista</button>
        </div>
        <div class="col-12" *ngIf="ocultarSolicitudDiv==false">
            <h6 style="margin-left: 32px;">Solicitar Ser Motorista</h6>
            <button class="btn btn-Solid"  (click)="ModalSolicitarSerMoto(modalSolicitud)">Solicitud</button>
        </div>
        <!-- fin boton Motorista -->
        <!-- div para Motorista -->
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-5 postAb" *ngIf="ocultarMotoristaDiv">
            <div class="card ">
                <div class="card-header">
                    <strong class="card-title">Serial</strong>
                </div>
                <div class="card-body">
                    <div id="pay-invoice">
                        <div class="card-body">
                            <div class="card-title">
                                <h3 class="text-center">Copiar url para obtener info</h3>
                            </div>
                            <hr>
                            <form action="#" method="post" novalidate="novalidate" >
                                <div class="form-group text-center">
                                    <ul class="list-inline">
                                        <li class="list-inline-item"></li>
                                    </ul>
                                </div>
                                <div class="form-group">
                                    <label for="cc-number" class="control-label mb-1">Serial</label>
                                    <!-- <h6>{{tokenss}}</h6> -->
                                    <input id="serialNumber" [(ngModel)]="tokenss"  name="numberSerial" type="tel" class="form-control" value="" data-val="true" data-val-required="Please enter the card number" data-val-cc-number="Please enter a valid card number" placeholder="9999-9999-9999-9999">
                                    <button class="btn btn-motorista" cdkCopyToClipboard="{{tokenss}}">Copy text</button>
                                    <button class="btn btn-motorista" (click)="irMotorista()">Ir Motorista</button>
                                </div>
                            </form>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
        <!-- div para Motorista -->
        <!-- mapa de mapbox -->
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-5 postAb" [ngClass]="{'visible':mapaBox==true , 'noVisible':mapaBox!=true}" >
            <div class="card ">
                <div class="card-header">
                    <strong class="card-title">MapBox-VEJA</strong>
                </div>
                <div class="card-body">
                    <div style="padding: 0 1.875em;">
                        <div id="mapa-mapbox"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- mapa de mapbox -->
        <!-- Header-->
        <app-header #header (OnOcultarBarra)="ocultarBarraleft($event)"></app-header>
        <!-- /#header -->
        
        <div class="breadcrumbs">
            <div class="breadcrumbs-inner">
                <div class="row m-0">
                    <div class="col-sm-4">
                        <div class="page-header float-left">
                            <div class="page-title">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="page-header float-right">
                            <div class="page-title">
                                <ol class="breadcrumb text-right">
                                    <li><a href="#">App</a></li>
                                    <li class="active">{{stadeComponents}}</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="padding-left: 35px;">
            <h1>Hola {{NombreUsuarioBienvenida}}!</h1>
        </div>
        <!-- Content -->
            
        <!-- para categorias-->
            <app-category #category (onSelectCategory)="estadoComponentVisual($event)"></app-category>
        <!-- /. categorias-->
        <!-- para compania-->
            <app-company #company (onSelectCompany)="estadoComponentVisual($event)"></app-company>
        <!-- /. compania-->
        <!-- para ordenar y comprar productos-->
            <app-product-company 
                #Product 
                (onProductoSelection)="estadoComponentVisual($event)"
                (onSumarCarrito)="sumarCarrito($event)"
                (onVerCarritoCompras)="verCarritoCompras($event)"
            
            ></app-product-company>
        <!-- /. ordenar y comprar productos-->
            <app-register #regiter ></app-register>
        <!-- perfil -->
            <app-my-perfil #Myperfils ></app-my-perfil>
        <!-- /.content -->
        <!-- Footer -->
        <!-- /.site-footer -->
        <!-- <app-carrito></app-carrito> -->
        <app-cart-shopping
            #cart
            
        ></app-cart-shopping>
        <app-footernav
            #footer
            (onFooter)="estadoComponentVisual($event)"
        ></app-footernav>
    </div>
</div>

<ng-template #modalSolicitud let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title"> Solicitud para motorista</h4>
        <!-- <button type="button" class="btn-outline-success" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button> -->
    </div>
    <div class="modal-body">
        <h3 class="h3Modal">¿Quieres formar parte de nuestra comunidad de motorista? Veja, te proporciona horarios flexibles y paga por cada transacción.</h3>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="is3dCheckBox" (click)="cambioChecked()">
            <label class="form-check-label" for="flexCheckDefault">
                Aceptar términos y condiciones 
            </label>
          </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" *ngIf="checkedButton==true" (click)="enviarSolicitud()">Enviar</button>
        <button type="button" class="btn btn-outline-success" (click)="modal.close('Boton Cerrrar')">Cerrar</button>
    </div>
</ng-template>