<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-4 col-12 col-sm-12 col-lg-3 col-xl-3 card-size">
                <div class="card bg-warning" style="padding: 0px 12px 0px 12px;">
                    <div class="card-header">
                        <fa-icon [icon]="faUser"></fa-icon><strong class="fa"> App</strong><fa-icon [icon]="faUtensils"></fa-icon>
                    </div>
                    <div class="card-header user-header alt bg-dark">
                        <div class="media">
                            <div class="media-body">
                                <a href="Company.html"><h2 class="text-light display-6">Restaurantes</h2></a>
                            </div>
                        </div>
                    </div>
                    <section class="card">


                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a href="#"> <fa-icon [icon]="faTasks"></fa-icon> Comercios <span class="badge badge-danger pull-right">15</span></a>
                            </li>
                        </ul>

                    </section>
                    <div class="card-body">
                        <div class="card-text text-sm-center">
                            <a href="#"><fa-icon [icon]="faFacebook"></fa-icon></a>
                            <a href="#"><fa-icon [icon]="faTwitter"></fa-icon></a>
                            <a href="#"><fa-icon [icon]="faInstagram"></fa-icon></a>
                            <a href="#"><fa-icon [icon]="faPinterest"></fa-icon></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12 col-sm-12 col-lg-3 col-xl-3 card-size">
                <div class="card bg-danger" style="padding: 0px 12px 0px 12px;">
                    <div class="card-header">
                        <fa-icon [icon]="faUser"></fa-icon><strong class="fa"> App</strong><fa-icon [icon]="faShoppingBag"></fa-icon>
                    </div>
                    <div class="card-header user-header alt bg-dark">
                        <div class="media">
                            <div class="media-body">
                                <a href="Company.html"><h2 class="text-light display-6">Supermercado</h2></a>
                            </div>
                        </div>
                    </div>
                    <section class="card">


                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a href="#"> <fa-icon [icon]="faTasks"></fa-icon> Comercios <span class="badge badge-danger pull-right">15</span></a>
                            </li>
                        </ul>

                    </section>
                    <div class="card-body">
                        <div class="card-text text-sm-center">
                            <a href="#"><fa-icon [icon]="faFacebook"></fa-icon></a>
                            <a href="#"><fa-icon [icon]="faTwitter"></fa-icon></a>
                            <a href="#"><fa-icon [icon]="faInstagram"></fa-icon></a>
                            <a href="#"><fa-icon [icon]="faPinterest"></fa-icon></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12 col-sm-12 col-lg-3 col-xl-3 card-size">
                <div class="card bg-warning" style="padding: 0px 12px 0px 12px;">
                    <div class="card-header">
                        <fa-icon [icon]="faUser"></fa-icon><strong class="fa"> App</strong><fa-icon [icon]="faIndustry"></fa-icon>
                    </div>
                    <div class="card-header user-header alt bg-dark">
                        <div class="media">
                            <div class="media-body">
                                <a href="Company.html"><h2 class="text-light display-6">Ferretería</h2></a>
                            </div>
                        </div>
                    </div>
                    <section class="card">


                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a href="#"> <fa-icon [icon]="faTasks"></fa-icon> Comercios <span class="badge badge-danger pull-right">15</span></a>
                            </li>
                        </ul>

                    </section>
                    <div class="card-body">
                        <div class="card-text text-sm-center">
                            <a href="#"><fa-icon [icon]="faFacebook"></fa-icon></a>
                            <a href="#"><fa-icon [icon]="faTwitter"></fa-icon></a>
                            <a href="#"><fa-icon [icon]="faInstagram"></fa-icon></a>
                            <a href="#"><fa-icon [icon]="faPinterest"></fa-icon></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12 col-sm-12 col-lg-3 col-xl-3 card-size">
                <div class="card bg-danger" style="padding: 0px 12px 0px 12px;">
                    <div class="card-header">
                        <fa-icon [icon]="faUser"></fa-icon><strong class="fa"> App</strong><fa-icon [icon]="faGlassCheers"></fa-icon>
                    </div>
                    <div class="card-header user-header alt bg-dark">
                        <div class="media">
                            <div class="media-body">
                                <a href="Company.html"><h2 class="text-light display-6">Licorería</h2></a>
                            </div>
                        </div>
                    </div>
                    <section class="card">


                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a href="#"> <fa-icon [icon]="faTasks"></fa-icon> Comercios <span class="badge badge-danger pull-right">15</span></a>
                            </li>
                        </ul>

                    </section>
                    <div class="card-body">
                        <div class="card-text text-sm-center">
                            <a href="#"><fa-icon [icon]="faFacebook"></fa-icon></a>
                            <a href="#"><fa-icon [icon]="faTwitter"></fa-icon></a>
                            <a href="#"><fa-icon [icon]="faInstagram"></fa-icon></a>
                            <a href="#"><fa-icon [icon]="faPinterest"></fa-icon></a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .row -->
    </div><!-- .animated -->
</div>