<div class="content">
    <div class="animated fadeIn" *ngIf="ocultardatas">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 card-size" *ngFor="let categoria of categorias">
                <div class="card bg-white" style="padding: 0px 12px 0px 12px; height: 100%; border-radius: 15px;" (click)="SelectCategory(categoria._id)">
                    <div class="card-header">
                        <fa-icon [icon]="faUser"></fa-icon><strong class="fa">App</strong><fa-icon [icon]="faUtensils"></fa-icon>
                    </div>
                    <div class="card-header user-header alt" [ngStyle]="{'background-color':categoria.bgColor}">
                        <div class="media">
                            <div class="media-body">
                                <button class="btn col-12" (click)="SelectCategory(categoria._id)" ><h2 class="text-light display-6 FontH2">{{categoria.nombreCategoria}}</h2></button>
                                
                            </div>
                        </div>
                    </div>
                    <section class="card">


                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a href="#"> <fa-icon [icon]="faTasks"></fa-icon> Comercios <span class="badge badge-danger pull-right">{{categoria.comercios.length}}</span></a>
                            </li>
                        </ul>
                    </section>
                    <div class="card-body">
                        <div class="card-text text-sm-center">
                            <a href="#"><fa-icon [icon]="faFacebook"></fa-icon></a>
                            <a href="#"><fa-icon [icon]="faTwitter"></fa-icon></a>
                            <a href="#"><fa-icon [icon]="faInstagram"></fa-icon></a>
                            <a href="#"><fa-icon [icon]="faPinterest"></fa-icon></a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div><!-- .row -->
    </div><!-- .animated -->
</div>