<router-outlet></router-outlet>
<div class="ColorWhite">
   <!--div class="loader_bg">
  <div class="loader"><img src="../../..Public/img/loading.gif" alt="#" /></div>
</div-->
 <header>
   <!-- header inner -->
   <div class="header_bg">
      <div class="header">
         <div class="container">
            <div class="row">
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-7 logo_section">
                  <div class="full">
                     <div class="center-desk">
                        <div class="logo">
                           <a href="VejaDelivery"><img src="../../assets/img/logo.jpg" alt="#" /></a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                  <ul class="costomer">
                     <li>Servicio al cliente: <a href="#">+504-9900-0000</a></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <!-- end header inner -->
      <!-- end header -->
      <!-- banner -->
      <section class="banner_main">
         <div class="container-fluid">
            <div class="row d_flex">
               <div class="col-5">
                  <div class="text-bg">
                     <span style="font-size: 90px;">Veja<br></span>
                     <h1 class="colorTextñ" >Delivery</h1>
                     <span class="colorTextñ" style="font-size: 45px;">Sitio Especializado</span>
                     <p class="colorTextñ" style="font-size: 23px;">Para brindar servicio de reparto de diversos productos, teniendo en cuenta su experiencia, brindando uno de los mejores servicios y calidad de ellos.</p>
                     <a href="VejaDelivery/AppCustomer">Iniciar experiencia</a>
                  </div>
               </div>
               <div class="col-7" id="hover">
                  <div class="text-img">
                     <figure><img src="../../assets/img/img1.png" /></figure>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </div>
 </header>
 <div id="service" class="three_box">
    <div class="container">
       <div class="row">
          <h3 class="col-12" id="colorTextService">Tecnología del sitio web</h3>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
             <div class="Soft-box">
                <i><img src="../../assets/img/service1.png" alt="#" /></i>
                <h3> Software</h3>
                <p>Vesion 1.2.0</p>
                <p>Angular, NodeJs, MongoDB</p>
             </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
             <div class="Soft-box">
                <i><img src="../../assets/img/service2.png" alt="#" /></i>
                <h3>App Movil</h3>
                <p>Actualmente no contamos con app, pero nuestro equipo desarrollo está trabajando en ello.</p>
             </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
             <div class="Soft-box">
                <i><img src="../../assets/img/service3.png" alt="#" /></i>
                <h3>Sitio web</h3>
                <p>Contamos con la página desarrollo tecnológico, destinada para clientes que gestionan servicios de repartos, en global.</p>
             </div>
          </div>
       </div>
    </div>
 </div>
 <div id="why" class="weare">
    <div class="container" id="styleconteinerteam" >
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <h2>Quienes  <span class="white">somos los creadores</span></h2>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-md-12">
 
          </div>
          <div class="col-md-12">
             <div class="main_weare">
                <div class="row">
                   <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2">
                      <div id="box_ho" class="weare-img_box">
                         <figure><img src="../../assets/img/team/EdwinQuintero.jpeg" alt="#" class="imageteam" /></figure>
                      </div>
                   </div>
                   <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                      <div class="weare-box">
                         <h3 class="colorTextñ padding0">Edwin Quintero</h3>
                         <h4 class="colorTextñ padding0">System Engineer Student</h4>
                         <h4 class="colorTextñ padding0">UNAH-CU</h4>
                         <p class="colorTextñ" style="padding: 0px;">Developer</p>
                         <div class="Social">
                            <a href="https://www.facebook.com/"><fa-icon [icon]="faFacebook"></fa-icon></a>
                            <a href="https://twitter.com/"><fa-icon [icon]="faTwitter"></fa-icon></a>
                            <a href="https://www.instagram.com"><fa-icon [icon]="faInstagram"></fa-icon></a>
                            <a href="https://www.pinterest.es/"><fa-icon [icon]="faPinterest"></fa-icon></a>
                          </div>
                         <a class="read_more bg" href="#">Leer más</a>
                      </div>
                   </div>
                   <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2">
                      <div id="box_ho" class="weare-img_box">
                         <figure><img src="../../assets/img/team/VictorAmaya.jpg" alt="#" class="imageteam" /></figure>
                      </div>
                   </div>
                   <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                      <div class="weare-box">
                         <h3 class="colorTextñ padding0">Victor Amaya</h3>
                         <h4 class="colorTextñ padding0">System Engineer Student</h4>
                         <h4 class="colorTextñ padding0">UNAH-CU</h4>
                         <p class="colorTextñ" style="padding: 0px;">Developer</p>
                         <div class="Social" >
                           <a href="https://www.facebook.com/"><fa-icon [icon]="faFacebook"></fa-icon></a>
                           <a href="https://twitter.com/"><fa-icon [icon]="faTwitter"></fa-icon></a>
                           <a href="https://www.instagram.com"><fa-icon [icon]="faInstagram"></fa-icon></a>
                           <a href="https://www.pinterest.es/"><fa-icon [icon]="faPinterest"></fa-icon></a>
                          </div>
                         <a class="read_more bg" href="#">Leer más</a>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 <div class="testimonial">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <h2>Cartera de <span class="rosadotext">servicio y productos</span></h2>
                <p>Podremos ver unas vistas de cartelera de productos y servicios que se brindan, esta asistencia de repartos, podremos verlas y generarlas sus pedidos de acuerdo a cada categoría.
                </p>
             </div>
          </div>
       </div>
       <section id="demos">
          <div class="row">
             <div class="col-md-12">
                <div class="owl-carousel owl-theme heightCarousel row">
                   <div class="item col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                      <img class="ViewDelivery" src="../../assets/img/delivery/PizzaHut.jpg" alt="">
                      <h3>Pizza Hut</h3>
                      <p>Cocina</p>
                   </div>
                   <div class="item col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                      <img class="ViewDelivery" src="../../assets/img/delivery/Campero.jpg" alt="">
                      <h3>Campero</h3>
                      <p>Cocina</p>
                   </div>
                   <div class="item col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                      <img class="ViewDelivery" src="../../assets/img/delivery/dunkin donuts.jpg" alt="">
                      <h3>Dunkin Donuts </h3>
                      <p>Repostería</p>
                   </div>
                   <div class="item col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                      <img class="ViewDelivery" src="../../assets/img/delivery/Supermercados-la-Colonia.jpg" alt="">
                      <h3>Supermercado la colonia </h3>
                      <p>Supermercado</p>
                   </div>
                   <div class="item col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                      <img class="ViewDelivery" src="../../assets/img/delivery/Paiz.png" alt="">
                      <h3>Supermercado Paiz Honduras</h3>
                      <p>Supermercado</p>
                   </div>
                   <div class="item col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                      <img class="ViewDelivery" src="../../assets/img/delivery/walmart.jpg" alt="">
                      <h3>Walmart</h3>
                      <p>Tienda</p>
                   </div>
                   <div class="item col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                      <img class="ViewDelivery" src="../../assets/img/delivery/La mundial.jpg" alt="">
                      <h3>La Mundial</h3>
                      <p>Ferreteria</p>
                   </div>
                </div>
             </div>
          </div>
       </section>
    </div>
 </div>
 <div  class="asked_main">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <h2>Preguntas <span class="rosadotext"> Frecuentes</span></h2>
             </div>
          </div>
       </div>
    </div>
    <div class="container-fluid">
       <div class="row">
          <div class="col-md-6">
             <div class="ask_img">
                <figure><img src="../../assets/img/ask.jpg" alt="#"/></figure>
             </div>
          </div>
          <div class="col-md-6">
             <div class="ask_box">
                <div class="simpaly">
                   <div class="slider"><span>+</span><a href="#">
                      Realizan Todo tipos de encargos</a>
                   </div>
                   <div class="content">
                      <p> Trabajos bajo pedidos, mediante la página web, con empresas que se muestran en la app con sus productos respectivos.
                      </p>
                   </div>
                </div>
                <div class="simpaly">
                   <div class="slider"><span>+</span><a href="#">
                      Puede una obtener los servicios Delivery</a>
                   </div>
                   <div class="content">
                      <p>Poner se en contacto con el administrador de la app, el cual se puede comunicar mediante a correo, abajo se mostrará un formulario.
                      </p>
                   </div>
                </div>
                <div class="simpaly">
                   <div class="slider"><span>+</span><a href="#">
                      ¿Las transferencias son seguras?</a>
                   </div>
                   <div class="content">
                      <p> 
                         Contamos con pagos mediante tarjeta o pago en efectivo. 
                      </p>
                   </div>
                </div>
                <div class="simpaly">
                   <div class="slider"><span>+</span><a href="#">
                      ¿Tienen descuentos?</a>
                   </div>
                   <div class="content">
                      <p> 
                         Contamos con promociones, descuentos, tanto en los productos como en las entregas.
                      </p>
                   </div>
                </div>
                <div class="simpaly">
                   <div class="slider"><span>+</span><a href="#">
                      ¿Tiene servicios 24 horas?
                      </a>
                   </div>
                   <div class="content">
                      <p> 
                         Contamos con un horario de 8:00 am a 9:00 pm.
                      </p>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 <div id="contact" class="contact">
   <div class="container">
      <div class="row">
         <div class="col-md-6">
            <div class="titlepage">
               <h2>Contáctanos </h2>
            </div>
            <div class="cont">
               <span>Descargas App móvil <br>
                  Aún no disponibles</span>
               <a href="">Descargas </a>
            </div>
         </div>
         <div class="col-md-6">
            <form class="main_form">
               <div class="row">
                  <div class="col-sm-12">
                     <input class="contactus" placeholder="Nombre Completo" type="text" name="
                        Nombre Completo">
                  </div>
                  <div class="col-sm-12">
                     <input class="contactus" placeholder="Correo electrónico" type="text" name=" Correo electrónico">
                  </div>
                  <div class="col-sm-12">
                     <input class="contactus" placeholder="Numero Telefonico" type="text" name="Numero Telefonico">
                  </div>
                  <div class="col-sm-12">
                     <textarea class="textarea" placeholder="Mensaje" type="text" name="Mensaje"></textarea>
                  </div>
                  <div class="col-sm-12">
                     <button class="send">Enviar</button>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
</div>
