<div class="content">
    <div class="animated fadeIn" *ngIf="ocultardatas">
        <div class="row">
            <div class="col-12 bordeBotton">
                <button class="btn btn-White-Edit" (click)="irAtras()"><fa-icon [icon]="faArrowAltCircleLeft"></fa-icon></button>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 cardSize" *ngFor="let company of companys.comercios">
                <section class="card bg-danger cardSection" (click)='SelectCompany(company._id)'>
                    <div class="twt-feed blue-bg" style=" background-image: url('../../../assets/{{company.imagenBanner}}'); background-repeat: no-repeat; background-size: cover; background-position: center; ">
                        <div class="media row">
                            <button class="col-4 col-sm-4 col-md-6 col-lg-4 col-xl-4 btn">
                                <img class="align-self-center rounded-circle mr-3" style="width:85px; height:85px;" alt="" src="../../../assets/{{company.imagenLogo}}">
                            </button>
                            <div class="media-body col-8 col-sm-8 col-md-6 col-lg-8 col-xl-8">
                                <h2 class="text-white display-6">{{company.nombreEmpresa}}</h2>
                                <p class="text-light">{{companys.nombreCategoria}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="weather-category twt-category">
                        <ul>
                            <li class="active">
                                <h5>{{company.sucursales.length}}</h5>
                                Sucursales
                            </li>
                            <li>
                                <h5>{{company.productos.length}}</h5>
                                Productos
                            </li>
                        </ul>
                    </div>
                    <footer class="twt-footer">
                        <button class="btn">
                            <fa-icon [icon]="faMapMarked"></fa-icon>
                        </button>
                        {{company.sedePais}}
                    </footer>
                </section>
            </div>
        </div><!-- .row -->
    </div><!-- .animated -->
</div>