<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 cardSize">
                <section class="card bg-warning cardSection">
                    <div class="twt-feed blue-bg" style=" background-image: url('../../../assets/img/delivery/PizzaHut.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center; ">
                        <div class="media row">
                            <a href="ProductCompany.html" class="col-4 col-sm-4 col-md-6 col-lg-4 col-xl-4">
                                <img class="align-self-center rounded-circle mr-3" style="width:85px; height:85px;" alt="" src="../../../assets/img/delivery/logo PizzaHut.jpg">
                            </a>
                            <div class="media-body col-8 col-sm-8 col-md-6 col-lg-8 col-xl-8">
                                <h2 class="text-white display-6">PizzaHut</h2>
                                <p class="text-light">Restaurantes</p>
                            </div>
                        </div>
                    </div>
                    <div class="weather-category twt-category">
                        <ul>
                            <li class="active">
                                <h5>10</h5>
                                Sucursales
                            </li>
                            <li>
                                <h5>30</h5>
                                Productos
                            </li>
                        </ul>
                    </div>
                    <footer class="twt-footer">
                        <a href="#"><fa-icon [icon]="faMapMarked"></fa-icon> </a>
                        Tegucigalpa,Honduras.
                    </footer>
                </section>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 cardSize">
                <section class="card bg-warning cardSection">
                    <div class="twt-feed blue-bg" style=" background-image: url('../../../assets/img/delivery/Campero.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center; ">
                        <div class="media row">
                            <a href="ProductCompany.html" class="col-4 col-sm-4 col-md-6 col-lg-4 col-xl-4">
                                <img class="align-self-center rounded-circle mr-3" style="width:85px; height:85px;" alt="" src="../../../assets/img/delivery/logo Campero.png">
                            </a>
                            <div class="media-body col-8 col-sm-8 col-md-6 col-lg-8 col-xl-8">
                                <h2 class="text-white display-6">Pollo campero</h2>
                                <p class="text-light">Restaurantes</p>
                            </div>
                        </div>
                    </div>
                    <div class="weather-category twt-category">
                        <ul>
                            <li class="active">
                                <h5>10</h5>
                                Sucursales
                            </li>
                            <li>
                                <h5>30</h5>
                                Productos
                            </li>
                        </ul>
                    </div>
                    <footer class="twt-footer">
                        <a href="#"><fa-icon [icon]="faMapMarked"></fa-icon> </a>
                        Tegucigalpa,Honduras.
                    </footer>
                </section>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 cardSize">
                <section class="card bg-warning cardSection">
                    <div class="twt-feed blue-bg" style=" background-image: url('../../../assets/img/delivery/dunkin donuts.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center; ">
                        <div class="media row">
                            <a href="ProductCompany.html" class="col-4 col-sm-4 col-md-6 col-lg-4 col-xl-4">
                                <img class="align-self-center rounded-circle mr-3" style="width:85px; height:85px;" alt="" src="../../../assets/img/delivery/logo dunkin donuts.png">
                            </a>
                            <div class="media-body col-8 col-sm-8 col-md-6 col-lg-8 col-xl-8">
                                <h2 class="text-white display-6">dunkin donuts</h2>
                                <p class="text-light">Restaurantes</p>
                            </div>
                        </div>
                    </div>
                    <div class="weather-category twt-category">
                        <ul>
                            <li class="active">
                                <h5>10</h5>
                                Sucursales
                            </li>
                            <li>
                                <h5>30</h5>
                                Productos
                            </li>
                        </ul>
                    </div>
                    <footer class="twt-footer">
                        <a href="#"><fa-icon [icon]="faMapMarked"></fa-icon> </a>
                        Tegucigalpa,Honduras.
                    </footer>
                </section>
            </div>
            
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 cardSize">
                <section class="card bg-warning cardSection">
                    <div class="twt-feed blue-bg" style=" background-image: url('../../../assets/img/delivery/Supermercados-la-Colonia.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center; ">
                        <div class="media row">
                            <a href="ProductCompany.html" class="col-4 col-sm-4 col-md-6 col-lg-4 col-xl-4">
                                <img class="align-self-center rounded-circle mr-3" style="width:85px; height:85px;" alt="" src="../../../assets/img/delivery/logo Supermercados-la-Colonia.png">
                            </a>
                            <div class="media-body col-8 col-sm-8 col-md-6 col-lg-8 col-xl-8">
                                <h2 class="text-white display-6">La Colonia</h2>
                                <p class="text-light">Supermercado</p>
                            </div>
                        </div>
                    </div>
                    <div class="weather-category twt-category">
                        <ul>
                            <li class="active">
                                <h5>32</h5>
                                Sucursales
                            </li>
                            <li>
                                <h5>8,000</h5>
                                Productos
                            </li>
                        </ul>
                    </div>
                    <footer class="twt-footer">
                        <a href="#"><fa-icon [icon]="faMapMarked"></fa-icon> </a>
                        Tegucigalpa,Honduras.
                    </footer>
                </section>
            </div>
        </div><!-- .row -->
    </div><!-- .animated -->
</div>