<nav class="navbar navbar-expand-sm navbar-default">
    <div id="main-menu" class="main-menu collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="menu-title">Componentes</li><!-- /.menu-title -->
            <li class="menu-item-has-children dropdown">
                <a href="Category.html" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <fa-icon [icon]="faSitemap"></fa-icon> Categorias</a>
                <ul class="sub-menu children dropdown-menu-mod">                            
                    <li><fa-icon [icon]="faShoppingBag"></fa-icon> <a class="li-sub" href="Category.html">Supermercado</a></li>
                    <li><fa-icon [icon]="faCut"></fa-icon> <a class="li-sub" href="Category.html">Restaurantes</a></li>
                    <li><fa-icon [icon]="faIndustry"></fa-icon> <a class="li-sub" href="Category.html">Ferretería</a></li>
                    <li><fa-icon [icon]="faGlassCheers"></fa-icon> <a class="li-sub" href="Category.html">Licorería</a></li>
                    <li><fa-icon [icon]="faCar"></fa-icon> <a class="li-sub" href="Category.html">Auto Repuestos</a></li>
                    <li><fa-icon [icon]="faCoffee"></fa-icon> <a class="li-sub" href="Category.html">Cafetería</a></li>
                    <li><fa-icon [icon]="faHeartbeat"></fa-icon> <a class="li-sub" href="Category.html">Farmacia</a></li>
                    <li><fa-icon [icon]="faLaptop"></fa-icon> <a class="li-sub" href="Category.html">Tecnología</a></li>
                    <li><fa-icon [icon]="faPlus"></fa-icon> <a class="li-sub" href="Category.html">Más</a></li>
                </ul>
            </li>
            <li>
                <a href="Company.html"> <fa-icon [icon]="faSuitcase"></fa-icon> Empresas</a>
            </li>
            <li>
                <a href="Discount.html"> <fa-icon [icon]="faHandshake"></fa-icon> Descuentos</a>
            </li>
            <li class="menu-item-has-children dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><fa-icon [icon]="faThList"></fa-icon> Registros</a>
                <ul class="sub-menu children dropdown-menu-mod">
                    <li><fa-icon [icon]="faShoppingBag"></fa-icon> <button (click)="Register(1)" class="btn">Compras</button></li>
                    <li><fa-icon [icon]="faStar"></fa-icon> <button (click)="Register(2)" class="btn">Estados Productos</button></li>
                </ul>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>